Static {
    content-align: center middle;
    border: solid deepskyblue;
    height: 1fr;
}
.box {
    height: 1fr;
    border: solid deepskyblue;
    overflow-y: auto;
}
.column {
    height: 100%;
    overflow-y: auto;
}
.row {
    height: 10%;
}