blinker==1.8.2
click==8.1.7
colorama==0.4.6
itsdangerous==2.2.0
Jinja2==3.1.4
linkify-it-py==2.0.3
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdit-py-plugins==0.4.2
mdurl==0.1.2
platformdirs==4.3.6
Pygments==2.18.0
rich==13.8.1
textual==0.79.1
typing_extensions==4.12.2
uc-micro-py==1.0.3
Werkzeug==3.0.4
