Static {
    content-align: center middle;
    border: solid deepskyblue;
    height: 1fr;
}
Label {
    color: white;
}
.box {
    height: 1fr;
    border: solid deepskyblue;
    overflow-y: auto;
}
.column {
    height: 100%;
    overflow-x: auto;
    overflow-y: auto;
}
.row {
    height: 10%;
}